In [1]:
# canonical import
import pandas as pd

# importing data and dropping na

In [53]:
from google.colab import files
uploaded = files.upload()

Saving GME.csv to GME.csv

In [3]:
reddit_df = pd.read_csv('reddit_with_sentiments_finbert.csv')
reddit_df = reddit_df.dropna()

In [54]:
gme_df = pd.read_csv('GME.csv')

In [4]:
reddit_df

      Unnamed: 0  ... body_sentiment
4             12  ...        neutral
5             13  ...        neutral
7             35  ...        neutral
10            46  ...        neutral
18            67  ...        neutral
...          ...  ...            ...
6820       50107  ...        neutral
6824       50243  ...        neutral
6825       50245  ...        neutral
6830       50452  ...        neutral
6835       50607  ...       negative

[2159 rows x 16 columns]

'2021-01-28 21:17:10'

In [5]:
sentiment_df=pd.DataFrame()

In [6]:
def classifying_sentiments(x):
  if x =='positive':
    return 1
  if x =='neutral':
    return 0
  return -1

In [7]:
reddit_df['classifying_sentiments_title'] = reddit_df['title_sentiment_fin'].map(lambda x: classifying_sentiments(x))
reddit_df['classifying_sentiments_body'] = reddit_df['body_sentiment'].map(lambda x: classifying_sentiments(x))

In [11]:
#from datetime import datetime
reddit_df['day'] = reddit_df['timestamp'].map(lambda x: x.split(" ")[0])
reddit_df['hour'] = reddit_df['timestamp'].map(lambda x: x.split(" ")[1])

In [13]:
import numpy as np
reddit_df.groupby('day').agg({'score': [np.sum, np.mean], 'classifying_sentiments_title':[np.sum, np.mean]})

             score  classifying_sentiments_title
day
2021-01-28   19641                            -3
2021-01-29  302906                           -47
2021-01-30  319377                            -9
2021-01-31  243896                            -5
2021-02-01  179067                            -7
...            ...                           ...
2021-06-22     501                             0
2021-06-23     945                             0
2021-06-24    1293                             0
2021-06-25     545                             0
2021-06-26     309                             0

[98 rows x 2 columns]

In [16]:
reddit_df['datetime'] = pd.to_datetime(reddit_df['timestamp'])

In [19]:
reddit_df['day'] = reddit_df['datetime'].dt.date

In [20]:
from datetime import datetime
reddit_df['day'] = reddit_df['timestamp'].map(lambda x: datetime.strptime(x,'%y-%m-%d %H:%M:%S'))
#date_time_obj = datetime. strptime(date_time_str, '%d/%m/%y %H:%M:%S')

ValueError: ignored

In [21]:
reddit_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2159 entries, 4 to 6835
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    2159 non-null   int64
 1   title                         2159 non-null   object
 2   score                         2159 non-null   int64
 3   id                            2159 non-null   object
 4   url                           2159 non-null   object
 5   comms_num                     2159 non-null   int64
 6   created                       2159 non-null   float64
 7   body                          2159 non-null   object
 8   timestamp                     2159 non-null   object
 9   body_unidecode                2159 non-null   object
 10  title_unidecode               2159 non-null   object
 11  stock_body                    2159 non-null   object
 12  stock_title                   2159 non-null   object
 13  body_size                     2159 non-null   int64
 14  title_sentiment_fin           2159 non-null   object
 15  body_sentiment                2159 non-null   object
 16  classifying_sentiments_title  2159 non-null   int64
 17  classifying_sentiments_body   2159 non-null   int64
 18  day                           2159 non-null   object
 19  hour                          2159 non-null   object
 20  datetime                      2159 non-null   datetime64[ns]
 21  time                          2159 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(6), object(14)
memory usage: 387.9+ KB

In [18]:
reddit_df['time'] = reddit_df['datetime'].dt.time

In [26]:
reddit_df['time']

4       21:17:10
5       21:15:58
7       20:18:32
10      19:57:53
18      19:00:16
          ...
6820    13:00:17
6824    13:34:13
6825    13:10:03
6830    07:04:52
6835    07:02:45
Name: time, Length: 2159, dtype: object

In [23]:
#datetime.strptime(reddit_df['hour'][4], "%H:%M:%S") > datetime.datetime.strptime(hora, "%H:%M:%S")
#pd.datetime.time(pd.datetime(hora))

AttributeError: ignored

In [ ]:
datetime.strptime(reddit_df['hour'][4], "%H:%M:%S") > datetime.datetime.strptime(hora, "%H:%M:%S")
#pd.datetime.time(pd.datetime(hora))

In [27]:
#time_string = "09:29:59"

In [35]:
import datetime
from datetime import timedelta

In [39]:
time_string = "09:29:59"
hora_fim = datetime.datetime.strptime(time_string, "%H:%M:%S")

In [46]:
#datetime.datetime.strptime(reddit_df['time'], "%H:%M:%S")
reddit_df['time']=reddit_df['time'].apply(lambda x:datetime.datetime.strptime(str(x),"%H:%M:%S"))

In [47]:
reddit_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2159 entries, 4 to 6835
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    2159 non-null   int64
 1   title                         2159 non-null   object
 2   score                         2159 non-null   int64
 3   id                            2159 non-null   object
 4   url                           2159 non-null   object
 5   comms_num                     2159 non-null   int64
 6   created                       2159 non-null   float64
 7   body                          2159 non-null   object
 8   timestamp                     2159 non-null   object
 9   body_unidecode                2159 non-null   object
 10  title_unidecode               2159 non-null   object
 11  stock_body                    2159 non-null   object
 12  stock_title                   2159 non-null   object
 13  body_size                     2159 non-null   int64
 14  title_sentiment_fin           2159 non-null   object
 15  body_sentiment                2159 non-null   object
 16  classifying_sentiments_title  2159 non-null   int64
 17  classifying_sentiments_body   2159 non-null   int64
 18  day                           2159 non-null   object
 19  hour                          2159 non-null   object
 20  datetime                      2159 non-null   datetime64[ns]
 21  time                          2159 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(6), object(13)
memory usage: 467.9+ KB

In [38]:
reddit_df['datetime']- timedelta(days=1)

4      2021-01-27 21:17:10
5      2021-01-27 21:15:58
7      2021-01-27 20:18:32
10     2021-01-27 19:57:53
18     2021-01-27 19:00:16
               ...
6820   2021-06-24 13:00:17
6824   2021-06-23 13:34:13
6825   2021-06-23 13:10:03
6830   2021-06-22 07:04:52
6835   2021-06-21 07:02:45
Name: datetime, Length: 2159, dtype: datetime64[ns]

In [51]:
reddit_df.loc[(reddit_df['time']<hora_fim),'datetime']#=reddit_df['datetime']-timedelta(days=1)

74     2021-01-27 09:17:32
75     2021-01-27 09:16:00
81     2021-01-27 09:10:11
85     2021-01-27 09:08:18
214    2021-01-28 01:02:55
               ...
6810   2021-06-18 02:09:36
6814   2021-06-17 07:07:04
6817   2021-06-25 07:54:35
6830   2021-06-22 07:04:52
6835   2021-06-21 07:02:45
Name: datetime, Length: 1309, dtype: datetime64[ns]

In [71]:
#group by por 
#reddit_df['day'] = reddit_df['timestamp'].map(lambda x: x.split(" ")[0])
reddit_day = reddit_df.groupby('day').agg({'score': [np.sum, np.mean], 'classifying_sentiments_title':[np.sum, np.mean]})

In [68]:
reddit_df['datetime']=reddit_df['datetime'].map(lambda x: str(x))
reddit_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2159 entries, 4 to 6835
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    2159 non-null   int64
 1   title                         2159 non-null   object
 2   score                         2159 non-null   int64
 3   id                            2159 non-null   object
 4   url                           2159 non-null   object
 5   comms_num                     2159 non-null   int64
 6   created                       2159 non-null   float64
 7   body                          2159 non-null   object
 8   timestamp                     2159 non-null   object
 9   body_unidecode                2159 non-null   object
 10  title_unidecode               2159 non-null   object
 11  stock_body                    2159 non-null   object
 12  stock_title                   2159 non-null   object
 13  body_size                     2159 non-null   int64
 14  title_sentiment_fin           2159 non-null   object
 15  body_sentiment                2159 non-null   object
 16  classifying_sentiments_title  2159 non-null   int64
 17  classifying_sentiments_body   2159 non-null   int64
 18  day                           2159 non-null   object
 19  hour                          2159 non-null   object
 20  datetime                      2159 non-null   object
 21  time                          2159 non-null   datetime64[ns]
 22  Date                          2159 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(6), object(15)
memory usage: 484.8+ KB

day
2021-01-28     19641.0
2021-01-29    302906.0
2021-01-30    319377.0
2021-01-31    243896.0
2021-02-01    179067.0
                ...
2021-06-22       501.0
2021-06-23       945.0
2021-06-24      1293.0
2021-06-25       545.0
2021-06-26       309.0
Name: sum, Length: 98, dtype: float64

In [69]:
reddit_df['Date'] =reddit_df['datetime'].map(lambda x: x.split()[0])
reddit_df = reddit_df.merge(gme_df, how='outer', on='Date')

In [70]:
reddit_df.head()

   Unnamed: 0  ...      Volume
0        12.0  ...  58815800.0
1        13.0  ...  58815800.0
2        35.0  ...  58815800.0
3        46.0  ...  58815800.0
4        67.0  ...  58815800.0

[5 rows x 29 columns]

In [79]:
reddit_day = reddit_df.groupby('day').agg({'score': [np.sum, np.mean], 'classifying_sentiments_title':[np.sum, np.mean],'Close':np.mean,'Volume':np.mean})
reddit_day

               score               ...       Close        Volume
                 sum         mean  ...        mean          mean
day                                ...
2021-01-28   19641.0   338.637931  ...  204.214489  6.120069e+07
2021-01-29  302906.0   535.169611  ...  204.743468  5.811618e+07
2021-01-30  319377.0  3397.627660  ...  325.000000  5.056610e+07
2021-01-31  243896.0  2622.537634  ...         NaN           NaN
2021-02-01  179067.0  2487.041667  ...  225.000000  3.738220e+07
...              ...          ...  ...         ...           ...
2021-06-22     501.0   501.000000  ...  200.369995  5.120200e+06
2021-06-23     945.0   945.000000  ...  220.399994  8.200200e+06
2021-06-24    1293.0   646.500000  ...  212.309998  3.863300e+06
2021-06-25     545.0   545.000000  ...  209.509995  1.269270e+07
2021-06-26     309.0   309.000000  ...  209.509995  1.269270e+07

[98 rows x 6 columns]

In [80]:
reddit_day.columns = ['_'.join(col) for col in reddit_day.columns]
reddit_day

            score_sum   score_mean  ...  Close_mean   Volume_mean
day                                 ...
2021-01-28    19641.0   338.637931  ...  204.214489  6.120069e+07
2021-01-29   302906.0   535.169611  ...  204.743468  5.811618e+07
2021-01-30   319377.0  3397.627660  ...  325.000000  5.056610e+07
2021-01-31   243896.0  2622.537634  ...         NaN           NaN
2021-02-01   179067.0  2487.041667  ...  225.000000  3.738220e+07
...               ...          ...  ...         ...           ...
2021-06-22      501.0   501.000000  ...  200.369995  5.120200e+06
2021-06-23      945.0   945.000000  ...  220.399994  8.200200e+06
2021-06-24     1293.0   646.500000  ...  212.309998  3.863300e+06
2021-06-25      545.0   545.000000  ...  209.509995  1.269270e+07
2021-06-26      309.0   309.000000  ...  209.509995  1.269270e+07

[98 rows x 6 columns]

In [81]:
reddit_day.to_csv('reddit_day.csv')

In [ ]:
# DO NOT DESTROY THIS CELLL

# " ".join(reddit_df.iloc[23594]['body'].split()[0:427])
# " ".join(reddit_df.iloc[23594]['body'].split()[427:-1])
# print(classifier(" ".join(reddit_df.iloc[23594]['body'].split()[0:427])))
# print(classifier(" ".join(reddit_df.iloc[23594]['body'].split()[-370:-1])))

# " ".join(reddit_df.iloc[23594]['body'].split()[-370:-1])