In [ ]:
# !pip install seaborn

In [1]:
# import toolkit
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
import pandas as pd

In [2]:
# import sentimental data
amazon_df = pd.read_csv('amazon_df.csv')
gme_df = pd.read_csv('gme_df.csv')
kodak_df = pd.read_csv('kodak_df.csv')
facebook_df = pd.read_csv('fb_df.csv')
apple_df = pd.read_csv('new_data/aapl_df.csv')
baba_df = pd.read_csv('new_data/baba_df.csv')
goog_df = pd.read_csv('new_data/goog_df.csv')
jnj_df = pd.read_csv('new_data/jnj_df.csv')
pfe_df = pd.read_csv('new_data/pfe_df.csv')
tsla_df = pd.read_csv('new_data/tsla_df.csv')

In [3]:
# renaming columns
amazon_df.rename({'0':'Date', '1':'Positive', '2':'Neutral', '3':'Negative', '4':'Sentimental Score'}, axis=1, inplace=True)
gme_df.rename({'0':'Date', '1':'Positive', '2':'Neutral', '3':'Negative', '4':'Sentimental Score'}, axis=1, inplace=True)
kodak_df.rename({'0':'Date', '1':'Positive', '2':'Neutral', '3':'Negative', '4':'Sentimental Score'}, axis=1, inplace=True)
facebook_df.rename({'0':'Date', '1':'Positive', '2':'Neutral', '3':'Negative', '4':'Sentimental Score'}, axis=1, inplace=True)
goog_df.rename({'0':'Date', '1':'Positive', '2':'Neutral', '3':'Negative', '4':'Sentimental Score'}, axis=1, inplace=True)
apple_df.rename({'0':'Date', '1':'Positive', '2':'Neutral', '3':'Negative', '4':'Sentimental Score'}, axis=1, inplace=True)
baba_df.rename({'0':'Date', '1':'Positive', '2':'Neutral', '3':'Negative', '4':'Sentimental Score'}, axis=1, inplace=True)
jnj_df.rename({'0':'Date', '1':'Positive', '2':'Neutral', '3':'Negative', '4':'Sentimental Score'}, axis=1, inplace=True)
pfe_df.rename({'0':'Date', '1':'Positive', '2':'Neutral', '3':'Negative', '4':'Sentimental Score'}, axis=1, inplace=True)
tsla_df.rename({'0':'Date', '1':'Positive', '2':'Neutral', '3':'Negative', '4':'Sentimental Score'}, axis=1, inplace=True)

# dropping columns

amazon_df.drop(columns=['Unnamed: 0'], inplace=True)
gme_df.drop(columns=['Unnamed: 0'], inplace=True)
kodak_df.drop(columns=['Unnamed: 0'], inplace=True)
facebook_df.drop(columns=['Unnamed: 0'], inplace=True)
apple_df.drop(columns=['Unnamed: 0'], inplace=True)
goog_df.drop(columns=['Unnamed: 0'], inplace=True)
baba_df.drop(columns=['Unnamed: 0'], inplace=True)
jnj_df.drop(columns=['Unnamed: 0'], inplace=True)
pfe_df.drop(columns=['Unnamed: 0'], inplace=True)
tsla_df.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
# import price data
amazon_price_df = pd.read_csv('price/AMZN_1.csv')
gme_price_df = pd.read_csv('price/GME_1.csv')
kodak_price_df = pd.read_csv('price/KODK_1.csv')
facebook_price_df = pd.read_csv('price/FB_1.csv')
apple_price_df = pd.read_csv('price/AAPL.csv')
baba_price_df = pd.read_csv('price/BABA.csv')
goog_price_df = pd.read_csv('price/GOOG.csv')
jnj_price_df = pd.read_csv('price/JNJ.csv')
pfe_price_df = pd.read_csv('price/PFE.csv')
tsla_price_df = pd.read_csv('price/TSLA.csv')

In [5]:
# merging DB

amazon_df = pd.merge(amazon_df, amazon_price_df, how="outer", on=["Date", "Date"])
gme_df = pd.merge(gme_df, gme_price_df, how="outer", on=["Date", "Date"] )
kodak_df = pd.merge(kodak_df, kodak_price_df, how="outer", on=["Date", "Date"] )
facebook_df = pd.merge(facebook_df, facebook_price_df, how="outer", on=["Date", "Date"] )
apple_df = pd.merge(apple_df, apple_price_df, how="outer", on=["Date", "Date"] )
baba_df = pd.merge(baba_df, baba_price_df, how="outer", on=["Date", "Date"] )
goog_df = pd.merge(goog_df, goog_price_df, how="outer", on=["Date", "Date"] )
jnj_df = pd.merge(jnj_df, jnj_price_df, how="outer", on=["Date", "Date"] )
pfe_df = pd.merge(pfe_df, pfe_price_df, how="outer", on=["Date", "Date"] )
tsla_df = pd.merge(tsla_df, tsla_price_df, how="outer", on=["Date", "Date"] )


print(amazon_df.shape)
print(kodak_df.shape)
print(gme_df.shape)
print(facebook_df.shape)

(862, 11)
(653, 11)
(726, 11)
(855, 11)

In [6]:
facebook_df.drop(columns=['Date'],inplace=True)
kodak_df.drop(columns=['Date'],inplace=True)
gme_df.drop(columns=['Date'],inplace=True)
amazon_df.drop(columns=['Date'],inplace=True)
apple_df.drop(columns=['Date'],inplace=True)
goog_df.drop(columns=['Date'],inplace=True)
baba_df.drop(columns=['Date'],inplace=True)
jnj_df.drop(columns=['Date'],inplace=True)
pfe_df.drop(columns=['Date'],inplace=True)
tsla_df.drop(columns=['Date'],inplace=True)

In [7]:
facebook_df['retorno'] = facebook_df['Close'].pct_change()
kodak_df['retorno'] = kodak_df['Close'].pct_change()
gme_df['retorno'] = gme_df['Close'].pct_change()
amazon_df['retorno'] = amazon_df['Close'].pct_change()
apple_df['retorno'] = apple_df['Close'].pct_change()
goog_df['retorno'] = goog_df['Close'].pct_change()
baba_df['retorno'] = baba_df['Close'].pct_change()
jnj_df['retorno'] = jnj_df['Close'].pct_change()
pfe_df['retorno'] = pfe_df['Close'].pct_change()
tsla_df['retorno'] = tsla_df['Close'].pct_change()

In [8]:
from sklearn.impute import KNNImputer, SimpleImputer

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
preprocessor = ColumnTransformer([('imputer',  KNNImputer(n_neighbors=1),['Open','Low','Close','Adj Close', 'Volume'])], remainder='passthrough')
filling_na = SimpleImputer(strategy="constant", fill_value=-1000)
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),('fill_na', filling_na)])

In [ ]:
facebook_df.isna().sum()

In [ ]:
#facebook_df = facebook_df[['Open','Low','Close','Adj Close', 'Volume']].apply(lambda x:preprocessor.fit_transform(x))
gme_np = my_pipeline.fit_transform(gme_df) 
gme_np

In [ ]:
gme_np = my_pipeline.fit_transform(gme_df) 
kodak_np = my_pipeline.fit_transform(kodak_df)
facebook_np = my_pipeline.fit_transform(facebook_df)
amazon_np = my_pipeline.fit_transform(amazon_df)
apple_np = my_pipeline.fit_transform(apple_df)
google_np = my_pipeline.fit_transform(goog_df)
baba_np = my_pipeline.fit_transform(baba_df)
jnj_np = my_pipeline.fit_transform(jnj_df)
pfe_np = my_pipeline.fit_transform(pfe_df)
tsla_np = my_pipeline.fit_transform(tsla_df)

In [ ]:
news_stock_np = np.array([gme_np,kodak_np,amazon_np,facebook_np, apple_np, google_np, baba_np, jnj_np, pfe_np, tsla_np])

In [ ]:
news_stock_np

In [ ]:
#reddit_day.fillna(-1000,inplace=True)
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [ ]:
news_stock_np.shape

In [ ]:
news_stock_np_pad = pad_sequences(news_stock_np,value=-1000, dtype='float32') # int32 by default
news_stock_np_pad

In [ ]:
news_stock_np_pad.shape

In [ ]:
x=news_stock_np_pad[:,:-1,:]
x.shape

In [ ]:
y=news_stock_np_pad[:,-1,-1]
y.shape

In [ ]:
y_train =y[0:7]
y_test = y[-3:]

In [ ]:
x_train = x[0:7,:,:]
x_test = x[-3:,:,:]

In [ ]:
y_test

In [30]:
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.layers.experimental.preprocessing import Normalization
def init_model():
    #normalizar o x train
    normalizer = Normalization()
    model = models.Sequential()
    model.add(layers.Masking(mask_value=-1000.))
    normalizer.adapt(X_tesla_treino)
    model.add(layers.LSTM(20, return_sequences=True, activation='tanh'))
    model.add(layers.LSTM(10, return_sequences=False, activation='tanh'))
    model.add(layers.Dense(5, activation='relu'))
    model.add(layers.Dense(10, activation='linear'))
    
  #  model.compile(loss='mse', 
  #                optimizer='rmsprop', 
  #                metrics=['mae'])
    model.compile(loss='mse', 
                  optimizer=RMSprop(learning_rate=0.0003), 
                  metrics=['mae'])
    
    return model

#init_model().summary()

In [ ]:
model=init_model()

In [ ]:
model.fit(x_train,y_train,epochs=20)

In [ ]:
predict_y = model.predict(x_test)

In [ ]:
predict_y

In [ ]:
y_test

new approach

In [ ]:
from keras.preprocessing.sequence import TimeseriesGenerator

In [ ]:
data_gen = TimeseriesGenerator(gme_df.drop(columns=['retorno']).to_numpy(), gme_df['retorno'].to_numpy(),
                               length=10, sampling_rate=2,
                               batch_size=2)

In [ ]:
data_gen[0][0].shape
# (batch size, tamanho, features)

In [ ]:
model2 = init_model()

model2.fit_generator(data_gen)

### RNN COM UM ATIVO

In [10]:
tsla_df

,Positive,Neutral,Negative,Sentimental Score,Open,High,Low,Close,Adj Close,Volume,retorno
0,3.0,1.0,5.0,-0.222,658.390015,666.140015,637.880005,650.599976,650.599976,20209600.0,NaN
1,5.0,2.0,2.0,0.722,670.750000,678.609985,652.840027,653.380005,653.380005,21641200.0,0.004273
2,9.0,7.0,9.0,0.280,686.320007,693.280029,666.299988,668.539978,668.539978,20966100.0,0.023202
3,7.0,1.0,13.0,-0.381,662.200012,687.239990,662.159973,685.700012,685.700012,25927000.0,0.025668
4,0.0,0.0,1.0,-1.500,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
785,NaN,NaN,NaN,NaN,629.890015,647.200012,621.289978,646.219971,646.219971,21297100.0,0.003105
786,NaN,NaN,NaN,NaN,651.989990,662.390015,640.500000,660.500000,660.500000,15487100.0,0.022098
787,NaN,NaN,NaN,NaN,659.609985,664.859985,650.289978,655.289978,655.289978,13953300.0,-0.007888
788,NaN,NaN,NaN,NaN,656.440002,662.169983,644.599976,649.260010,649.260010,15105700.0,-0.009202
789,NaN,NaN,NaN,NaN,646.359985,648.799988,637.299988,643.380005,643.380005,14581300.0,-0.009056

### dividindo em tsla treino e tsla teste

In [11]:
len(tsla_df)

790

In [12]:
tsla_df.shape

(790, 11)

In [13]:
tesla_train = tsla_df[0:553]

In [14]:
tesla_train.shape

(553, 11)

In [15]:
tesla_test = tsla_df[553:]

In [16]:
tesla_test

,Positive,Neutral,Negative,Sentimental Score,Open,High,Low,Close,Adj Close,Volume,retorno
553,2.0,0.0,0.0,1.500,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
554,1.0,1.0,2.0,-0.125,72.209999,73.042000,70.928001,71.678001,71.678001,32854500.0,-0.060577
555,3.0,1.0,2.0,0.417,70.984001,72.547997,70.646004,71.935997,71.935997,38819500.0,0.003599
556,4.0,6.0,0.0,1.200,70.375999,71.438004,70.218002,70.540001,70.540001,34489000.0,-0.019406
557,4.0,1.0,0.0,1.400,67.991997,70.146004,67.862000,69.767998,69.767998,44141500.0,-0.010944
...,...,...,...,...,...,...,...,...,...,...,...
785,NaN,NaN,NaN,NaN,629.890015,647.200012,621.289978,646.219971,646.219971,21297100.0,0.003105
786,NaN,NaN,NaN,NaN,651.989990,662.390015,640.500000,660.500000,660.500000,15487100.0,0.022098
787,NaN,NaN,NaN,NaN,659.609985,664.859985,650.289978,655.289978,655.289978,13953300.0,-0.007888
788,NaN,NaN,NaN,NaN,656.440002,662.169983,644.599976,649.260010,649.260010,15105700.0,-0.009202
789,NaN,NaN,NaN,NaN,646.359985,648.799988,637.299988,643.380005,643.380005,14581300.0,-0.009056

In [17]:
tesla_train.head()

,Positive,Neutral,Negative,Sentimental Score,Open,High,Low,Close,Adj Close,Volume,retorno
0,3.0,1.0,5.0,-0.222,658.390015,666.140015,637.880005,650.599976,650.599976,20209600.0,NaN
1,5.0,2.0,2.0,0.722,670.750000,678.609985,652.840027,653.380005,653.380005,21641200.0,0.004273
2,9.0,7.0,9.0,0.280,686.320007,693.280029,666.299988,668.539978,668.539978,20966100.0,0.023202
3,7.0,1.0,13.0,-0.381,662.200012,687.239990,662.159973,685.700012,685.700012,25927000.0,0.025668
4,0.0,0.0,1.0,-1.500,NaN,NaN,NaN,NaN,NaN,NaN,0.000000

### Separando o target

In [18]:
X_tesla_treino = tesla_train.drop(columns=['retorno'])

In [19]:
X_tesla_treino

,Positive,Neutral,Negative,Sentimental Score,Open,High,Low,Close,Adj Close,Volume
0,3.0,1.0,5.0,-0.222,658.390015,666.140015,637.880005,650.599976,650.599976,20209600.0
1,5.0,2.0,2.0,0.722,670.750000,678.609985,652.840027,653.380005,653.380005,21641200.0
2,9.0,7.0,9.0,0.280,686.320007,693.280029,666.299988,668.539978,668.539978,20966100.0
3,7.0,1.0,13.0,-0.381,662.200012,687.239990,662.159973,685.700012,685.700012,25927000.0
4,0.0,0.0,1.0,-1.500,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
548,11.0,4.0,1.0,1.188,79.463997,81.370003,79.300003,80.807999,80.807999,90535500.0
549,11.0,2.0,7.0,0.400,76.125999,79.043999,76.115997,78.629997,78.629997,70605000.0
550,2.0,2.0,3.0,0.071,75.797997,77.099998,75.180000,75.797997,75.797997,42484000.0
551,4.0,3.0,3.0,0.450,72.510002,76.722000,72.500000,76.300003,76.300003,90871000.0
552,0.0,1.0,0.0,1.000,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
X_tesla_test = tesla_test.drop(columns=['retorno'])
X_tesla_test

,Positive,Neutral,Negative,Sentimental Score,Open,High,Low,Close,Adj Close,Volume
553,2.0,0.0,0.0,1.500,NaN,NaN,NaN,NaN,NaN,NaN
554,1.0,1.0,2.0,-0.125,72.209999,73.042000,70.928001,71.678001,71.678001,32854500.0
555,3.0,1.0,2.0,0.417,70.984001,72.547997,70.646004,71.935997,71.935997,38819500.0
556,4.0,6.0,0.0,1.200,70.375999,71.438004,70.218002,70.540001,70.540001,34489000.0
557,4.0,1.0,0.0,1.400,67.991997,70.146004,67.862000,69.767998,69.767998,44141500.0
...,...,...,...,...,...,...,...,...,...,...
785,NaN,NaN,NaN,NaN,629.890015,647.200012,621.289978,646.219971,646.219971,21297100.0
786,NaN,NaN,NaN,NaN,651.989990,662.390015,640.500000,660.500000,660.500000,15487100.0
787,NaN,NaN,NaN,NaN,659.609985,664.859985,650.289978,655.289978,655.289978,13953300.0
788,NaN,NaN,NaN,NaN,656.440002,662.169983,644.599976,649.260010,649.260010,15105700.0
789,NaN,NaN,NaN,NaN,646.359985,648.799988,637.299988,643.380005,643.380005,14581300.0

In [21]:
print(X_tesla_treino.shape)
print(X_tesla_test.shape)

(553, 10)
(237, 10)

In [22]:
y_tesla_treino = tesla_train['retorno']
y_tesla_test = tesla_test['retorno']

In [23]:
print(y_tesla_treino.shape)
print(y_tesla_test.shape)

(553,)
(237,)

In [24]:
X_tesla_treino_ajustado = my_pipeline.fit_transform(X_tesla_treino)
X_tesla_test_ajustado = my_pipeline.fit_transform(X_tesla_test)

In [75]:
y_tesla_treino[60]

0.022380896905579206

In [76]:
X_train = []
y_train = []
for i in range(60, 540):
    X_train.append(X_tesla_treino_ajustado[i-60:i, 0])
    y_train.append(y_tesla_treino[i])

In [90]:
X_train = np.array(X_train)
X_train

/var/folders/rl/l0hlsnhd3_zcy_9mm8jb32n00000gn/T/ipykernel_18436/297883673.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  X_train = np.array(X_train)

array([array([[ 6.58390015e+02,  6.37880005e+02,  6.50599976e+02,
         6.50599976e+02,  2.02096000e+07,  3.00000000e+00,
         1.00000000e+00,  5.00000000e+00, -2.22000000e-01,
         6.66140015e+02],
       [ 7.19799988e+02,  7.15460022e+02,  7.29400024e+02,
         7.29400024e+02,  2.83700000e+07,  1.00000000e+00,
         1.20000000e+01,  5.00000000e+00,  3.33000000e-01,
         7.37359985e+02],
       [ 8.30000000e+02,  7.80099976e+02,  7.93530029e+02,
         7.93530029e+02,  3.49908000e+07,  4.00000000e+00,
         5.00000000e+00,  1.00000000e+00,  9.50000000e-01,
         8.42409973e+02],
       [ 4.20089996e+02,  3.96029999e+02,  4.10359985e+02,
         4.10359985e+02,  3.02842000e+07,  2.00000000e+00,
         4.00000000e+00,  5.00000000e+00, -4.50000000e-02,
         4.20089996e+02],
       [ 4.08951996e+02,  4.05010010e+02,  4.09996002e+02,
         4.09996002e+02,  1.07448000e+08,  1.40000000e+01,
         3.00000000e+00,  1.00000000e+00,  1.25000000e+00,
         4.19097992e+02],
       [ 4.21633307e+02,  4.10523970e+02,  4.21789738e+02,
         4.21789738e+02,  6.01943344e+07,  1.00000000e+00,
         2.00000000e+00,  0.00000000e+00,  1.16700000e+00,
        -1.00000000e+03],
       [ 1.61000000e+02,  1.43222000e+02,  1.49102005e+02,
         1.49102005e+02,  1.28920000e+08,  6.00000000e+00,
         2.00000000e+00,  1.00000000e+00,  1.05600000e+00,
         1.61395996e+02]]),
       array([[ 7.19799988e+02,  7.15460022e+02,  7.29400024e+02,
         7.29400024e+02,  2.83700000e+07,  1.00000000e+00,
         1.20000000e+01,  5.00000000e+00,  3.33000000e-01,
         7.37359985e+02],
       [ 8.30000000e+02,  7.80099976e+02,  7.93530029e+02,
         7.93530029e+02,  3.49908000e+07,  4.00000000e+00,
         5.00000000e+00,  1.00000000e+00,  9.50000000e-01,
         8.42409973e+02],
       [ 4.20089996e+02,  3.96029999e+02,  4.10359985e+02,
         4.10359985e+02,  3.02842000e+07,  2.00000000e+00,
         4.00000000e+00,  5.00000000e+00, -4.50000000e-02,
         4.20089996e+02],
       [ 4.08951996e+02,  4.05010010e+02,  4.09996002e+02,
         4.09996002e+02,  1.07448000e+08,  1.40000000e+01,
         3.00000000e+00,  1.00000000e+00,  1.25000000e+00,
         4.19097992e+02],
       [ 4.21633307e+02,  4.10523970e+02,  4.21789738e+02,
         4.21789738e+02,  6.01943344e+07,  1.00000000e+00,
         2.00000000e+00,  0.00000000e+00,  1.16700000e+00,
        -1.00000000e+03],
       [ 1.61000000e+02,  1.43222000e+02,  1.49102005e+02,
         1.49102005e+02,  1.28920000e+08,  6.00000000e+00,
         2.00000000e+00,  1.00000000e+00,  1.05600000e+00,
         1.61395996e+02]]),
       array([[ 8.30000000e+02,  7.80099976e+02,  7.93530029e+02,
         7.93530029e+02,  3.49908000e+07,  4.00000000e+00,
         5.00000000e+00,  1.00000000e+00,  9.50000000e-01,
         8.42409973e+02],
       [ 4.20089996e+02,  3.96029999e+02,  4.10359985e+02,
         4.10359985e+02,  3.02842000e+07,  2.00000000e+00,
         4.00000000e+00,  5.00000000e+00, -4.50000000e-02,
         4.20089996e+02],
       [ 4.08951996e+02,  4.05010010e+02,  4.09996002e+02,
         4.09996002e+02,  1.07448000e+08,  1.40000000e+01,
         3.00000000e+00,  1.00000000e+00,  1.25000000e+00,
         4.19097992e+02],
       [ 4.21633307e+02,  4.10523970e+02,  4.21789738e+02,
         4.21789738e+02,  6.01943344e+07,  1.00000000e+00,
         2.00000000e+00,  0.00000000e+00,  1.16700000e+00,
        -1.00000000e+03],
       [ 1.61000000e+02,  1.43222000e+02,  1.49102005e+02,
         1.49102005e+02,  1.28920000e+08,  6.00000000e+00,
         2.00000000e+00,  1.00000000e+00,  1.05600000e+00,
         1.61395996e+02]]),
       array([[ 4.20089996e+02,  3.96029999e+02,  4.10359985e+02,
         4.10359985e+02,  3.02842000e+07,  2.00000000e+00,
         4.00000000e+00,  5.00000000e+00, -4.50000000e-02,
         4.20089996e+02],
       [ 4.08951996e+02,  4.05010010e+02,  4.09996002e+02,
         4.09996002e+02,  1.07448000e+08,  1.40000000e+01,
         3.00000000e+00,  1.00000000e+00,  1.25000000e+00,
         4.19097992e+02],
       [ 4.21633307e+02,  4.10523970e+02,  4.21789738e+02,
         4.21789738e+02,  6.01943344e+07,  1.00000000e+00,
         2.00000000e+00,  0.00000000e+00,  1.16700000e+00,
        -1.00000000e+03],
       [ 1.61000000e+02,  1.43222000e+02,  1.49102005e+02,
         1.49102005e+02,  1.28920000e+08,  6.00000000e+00,
         2.00000000e+00,  1.00000000e+00,  1.05600000e+00,
         1.61395996e+02]]),
       array([[ 4.08951996e+02,  4.05010010e+02,  4.09996002e+02,
         4.09996002e+02,  1.07448000e+08,  1.40000000e+01,
         3.00000000e+00,  1.00000000e+00,  1.25000000e+00,
         4.19097992e+02],
       [ 4.21633307e+02,  4.10523970e+02,  4.21789738e+02,
         4.21789738e+02,  6.01943344e+07,  1.00000000e+00,
         2.00000000e+00,  0.00000000e+00,  1.16700000e+00,
        -1.00000000e+03],
       [ 1.61000000e+02,  1.43222000e+02,  1.49102005e+02,
         1.49102005e+02,  1.28920000e+08,  6.00000000e+00,
         2.00000000e+00,  1.00000000e+00,  1.05600000e+00,
         1.61395996e+02]]),
       array([[ 4.21633307e+02,  4.10523970e+02,  4.21789738e+02,
         4.21789738e+02,  6.01943344e+07,  1.00000000e+00,
         2.00000000e+00,  0.00000000e+00,  1.16700000e+00,
        -1.00000000e+03],
       [ 1.61000000e+02,  1.43222000e+02,  1.49102005e+02,
         1.49102005e+02,  1.28920000e+08,  6.00000000e+00,
         2.00000000e+00,  1.00000000e+00,  1.05600000e+00,
         1.61395996e+02]]),
       array([[1.61000000e+02, 1.43222000e+02, 1.49102005e+02, 1.49102005e+02,
        1.28920000e+08, 6.00000000e+00, 2.00000000e+00, 1.00000000e+00,
        1.05600000e+00, 1.61395996e+02]]),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),
       array([], shape=(0, 10), dtype=float64),

In [94]:
X_train.shape

(480,)

In [93]:
X_train = np.reshape(X_train, ([0], X_train.shape[1], 1))

IndexError: tuple index out of range

In [38]:
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.layers.experimental.preprocessing import Normalization
def init_model_tesla():
    #normalizar o x train
    normalizer = Normalization()
    model = models.Sequential()
    model.add(layers.Masking(mask_value=-1000.))
    normalizer.adapt(X_tesla_treino_ajustado)
    model.add(layers.LSTM(20, return_sequences=True, activation='tanh'))
    model.add(layers.LSTM(10, return_sequences=False, activation='tanh'))
    model.add(layers.Dense(5, activation='relu'))
    model.add(layers.Dense(10, activation='linear'))
    
  #  model.compile(loss='mse', 
  #                optimizer='rmsprop', 
  #                metrics=['mae'])
    model.compile(loss='mse', 
                  optimizer=RMSprop(learning_rate=0.0003), 
                  metrics=['mae'])
    
    return model

#init_model().summary()

In [39]:
tesla_model = init_model_tesla()

In [45]:
fit_model = tesla_model.fit(X_tesla_treino_ajustado, y_tesla_treino, epochs=20)

Epoch 1/20

ValueError: in user code:

    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/keras/engine/training.py:855 train_function  *
        return step_function(self, iterator)
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/keras/engine/training.py:845 step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/distribute/distribute_lib.py:1285 run
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/distribute/distribute_lib.py:2833 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/distribute/distribute_lib.py:3608 _call_for_each_replica
        return fn(*args, **kwargs)
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/keras/engine/training.py:838 run_step  **
        outputs = model.train_step(data)
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/keras/engine/training.py:795 train_step
        y_pred = self(x, training=True)
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/keras/engine/base_layer.py:1030 __call__
        outputs = call_fn(inputs, *args, **kwargs)
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/keras/engine/sequential.py:394 call
        outputs = layer(inputs, **kwargs)
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/keras/layers/recurrent.py:668 __call__
        return super(RNN, self).__call__(inputs, **kwargs)
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/keras/engine/base_layer.py:1013 __call__
        input_spec.assert_input_compatibility(self.input_spec, inputs, self.name)
    /Users/netoconcon/.pyenv/versions/3.8.6/envs/next_trend/lib/python3.8/site-packages/tensorflow/python/keras/engine/input_spec.py:215 assert_input_compatibility
        raise ValueError('Input ' + str(input_index) + ' of layer ' +

    ValueError: Input 0 of layer lstm_2 is incompatible with the layer: expected ndim=3, found ndim=2. Full shape received: (None, 10)

,Positive,Neutral,Negative,Sentimental Score,Open,High,Low,Close,Adj Close,Volume
0,3.0,1.0,5.0,-0.222,658.390015,666.140015,637.880005,650.599976,650.599976,20209600.0
1,5.0,2.0,2.0,0.722,670.750000,678.609985,652.840027,653.380005,653.380005,21641200.0
2,9.0,7.0,9.0,0.280,686.320007,693.280029,666.299988,668.539978,668.539978,20966100.0
3,7.0,1.0,13.0,-0.381,662.200012,687.239990,662.159973,685.700012,685.700012,25927000.0
4,0.0,0.0,1.0,-1.500,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
548,11.0,4.0,1.0,1.188,79.463997,81.370003,79.300003,80.807999,80.807999,90535500.0
549,11.0,2.0,7.0,0.400,76.125999,79.043999,76.115997,78.629997,78.629997,70605000.0
550,2.0,2.0,3.0,0.071,75.797997,77.099998,75.180000,75.797997,75.797997,42484000.0
551,4.0,3.0,3.0,0.450,72.510002,76.722000,72.500000,76.300003,76.300003,90871000.0
552,0.0,1.0,0.0,1.000,NaN,NaN,NaN,NaN,NaN,NaN